.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.column {
  width: 20%;
  /*background-color: #f0f0f0;*/
  padding: 10px;
  box-sizing: border-box;
}

.column-page {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.left-column {
  font-size: 16px;
  /* Styles spécifiques à la colonne de gauche */
}

.right-column {
  font-size: 16px;
  /* Styles spécifiques à la colonne de droite */
}

.button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.center-button {
  padding: 10px 20px;
  font-size: 16px;
}

.text-input {
  width: 90%; /* Largeur du champ de saisie */
  padding: 10px; /* Espacement à l'intérieur du champ */
  margin-top: 10px; /* Espacement au-dessus du champ */
  border: 1px solid #ccc; /* Bordure du champ */
  border-radius: 4px; /* Coins arrondis */
}

.row {
  flex-direction: row;
  justify-Content: space-around;
  padding: 10;
}

.bouton {
 
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #000000; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none; /* Suppression des bordures par défaut */
  border-radius: 15px; /* Coins arrondis */
  font-size: 16px; /* Taille du texte */
}

.bouton img {
  margin-right: 10px; /* Espace entre l'image et le texte */
}

.container-top {
  width: 100% ;
  display: flex;
  flex-direction: row-reverse;
}